php_errorlog
*.DS_Store
.htaccess
.git-old/
wp-content/gallery/
wp-content-orig/
wp-inc_new/
wp-includes-orig/
wp-cont_new/
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-content/updraft/
pclzip*
#FILES LARGER THAN 100MB
pclzip-532b03b27522e.tmp
wp-content/uploads/2009/09/Tall-buildings.ppt
wp-content/uploads/2009/10/speaker-2-Speaker-2-RDA-MP4.flv
wp-content/uploads/2009/10/speaker-1-Speaker-1-RDA-MP4.mp4
wp-content/uploads/2009/10/speaker-2-Speaker-2-RDA-MP4.mp4
wp-content/updraft/backup_2014-03-20-1010_The_Rice_Design_Alliance_01646089a047-uploads.zip.tmp
pclzip-532b060e7fb47.tmp
pclzip-532b062234c09.tmp
wp-cont_new/uploads/2009/09/Tall-buildings.ppt
wp-cont_new/uploads/2009/10/speaker-2-Speaker-2-RDA-MP4.flv
wp-cont_new/uploads/2009/10/speaker-2-Speaker-2-RDA-MP4.mp4
wp-cont_new/uploads/2009/10/speaker-1-Speaker-1-RDA-MP4.mp4
wp-content-orig/uploads/2009/10/speaker-2-Speaker-2-RDA-MP4.mp4
wp-content-orig/uploads/2009/10/speaker-1-Speaker-1-RDA-MP4.mp4
wp-content-orig/uploads/2009/10/speaker-2-Speaker-2-RDA-MP4.flv
wp-content-orig/uploads/2009/09/Tall-buildings.ppt
pclzip-532b0628986cb.gz
pclzip-532b062c2967d.tmp
google-news-sitemap.xml
