/*---------------------------TRANSPARENT TEXTURES---------------------------*/

.texture1 {background:url(../images/patterns/transparent_textures/textures/simple-texture-1.png);}
.texture2 {background:url(../images/patterns/transparent_textures/textures/simple-texture-2.png);}
.texture3 {background:url(../images/patterns/transparent_textures/textures/simple-texture-3.png);}
.texture4 {background:url(../images/patterns/transparent_textures/textures/simple-texture-4.png);}
.texture5 {background:url(../images/patterns/transparent_textures/textures/simple-texture-5.png);}
.texture6 {background:url(../images/patterns/transparent_textures/textures/simple-texture-6.png);}
.texture7 {background:url(../images/patterns/transparent_textures/textures/simple-texture-7.png);}
.texture8 {background:url(../images/patterns/transparent_textures/textures/simple-texture-8.png);}
.texture9 {background:url(../images/patterns/transparent_textures/textures/simple-texture-9.png);}
.texture10 {background:url(../images/patterns/transparent_textures/textures/simple-texture-10.png);}
.texture11 {background:url(../images/patterns/transparent_textures/textures/simple-texture-11.png);}
.texture12 {background:url(../images/patterns/transparent_textures/textures/simple-texture-12.png);}
.texture13 {background:url(../images/patterns/transparent_textures/textures/simple-texture-13.png);}

.vintage1 {background:url(../images/patterns/transparent_textures/vintage/vintage-1.png);}
.vintage2 {background:url(../images/patterns/transparent_textures/vintage/vintage-2.png);}
.vintage3 {background:url(../images/patterns/transparent_textures/vintage/vintage-3.png);}
.vintage4 {background:url(../images/patterns/transparent_textures/vintage/vintage-4.png);}
.vintage5 {background:url(../images/patterns/transparent_textures/vintage/vintage-5.png);}



