.pagebar {
	font-size: 0.83em;
	padding: 0.2em 0.5em;
	margin-right: 0.1em;
	margin-bottom: 1.0em;
	border: 1px solid #fff;
	background: #fff;
	float: right;
	overflow: hidden;
	width: 340px;
	text-align: right;
	text-decoration: none;
}
.pagebar a,.pageList .this-page {
	text-decoration: none;
	padding: 0.2em 0.5em;
}
.pagebar a {
	color: #988c7e; }
.pagebar a:visited {
	text-decoration: none;
	padding: 0.2em 0.5em;
}
.pagebar .break {
	padding: 2px 6px 2px 6px;
	border: none;
	background: #fff;
	text-decoration: none;
}
.pagebar .this-page {
	padding: 0.2em 0.5em;
	font-weight: bold;
	background: #a38700;
	color: #fff;
}
.pagebar a:hover {
	border-color: #2E6AB1;
}
.pagebar .inactive
{
   color: #ccc;
   text-decoration: none;
   padding: 0.2em 0.5em;
}